.custom-transition {
    transition: background-color 0.5s;
}

body {
    background-color: #e9ecef;
    margin: 0;
}

p {
    margin: 0;
    padding: 15px;
}

/* NAVIGARE */
#navigare {
    transition: 0.5s;
    font-family: "Quicksand", 'Oxygen', system-ui;
    height: 50px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 10px 25px 10px #007bff6b;
}

#linkuri {
    transition: 0.5s;
    text-shadow: 5px 5px 5px #00000056;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#linkuri a {
    transition: 0.5s;
    font-size: clamp(1rem, 1vw, 3rem);
    margin: 0 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

#linkuri a:hover {
    text-shadow: none;
    background-color: #007bff52;
    font-weight: 900;
}

#favicon {
    height: auto;
    filter: drop-shadow(3px 3px 5px #00000050);
    display: flex;
    aspect-ratio: 1 / 1;
}

#favicon_img {
    transition: 0.5s;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* TITLU PAGINA */
#titlu {
    transition: all 0.1s !important;
    font-family: "Quicksand", 'Oxygen', system-ui;
    font-size: clamp(1rem, 15vw, 7rem);
    font-weight: 900;
    text-align: center;
    margin: 15px;
    text-shadow: 5px 5px 15px #00000077;
}

/* CONTINUT */
#continut {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Quicksand", 'Oxygen', system-ui;
    font-size: clamp(1.3rem, 3vw, 2rem);
    text-align: center;

    background-color: #f8f9fa;
    border-radius: 10px;

    margin: 0 10vw 50px 10vw;
    box-shadow: 10px 10px 15px 1px #00000050;
}

button {
    margin: 0 !important;
    padding: 0 !important;
    transition: 0.5s;
    justify-content: center;
    background-color: black;
    width: clamp(1rem, 100vw, 7rem);
    aspect-ratio: 1;
    margin: 0px 25px 25px 25px;

    border: none;
    border-radius: clamp(1rem, 100vw, 7rem);
    
}

p a {
    color: #007bff;
}

/* GALERIE */
/* IMAGINI */
.continut {
    display: flex;
    width: 100%;
    padding: 0 2% 4% 2%;
    box-sizing: border-box;
    height: 50vh;
}
  
.box {
    border-radius: 50px;
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    filter: drop-shadow(10px 10px 10px #000000a9);
    transform: translateZ(0)
}
  
.box > #imagine_galerie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
  
.box:hover {
    border-radius: 0;
    flex: 1 1 25%;
}
  
.box:hover > #imagine_galerie {
    width: 100%;
    height: 100%;
}


/* WEBSITE - MOBIL */
@media screen and (max-width: 600px) {
    #navigare, #navigare1 {
        height: 35px;
    }

    .continut {
        display: block;
        width: auto;
        padding: 0;
        box-sizing: content-box;
        height: auto;
    }

    .box {
        position: static;
        flex: initial;
        overflow: visible;
        transition: 0.5s;
        margin: 20px;
        filter: none;
        filter: drop-shadow(10px 10px 10px #000000a9);
        transform: translateZ(0)
    }

    .box > #imagine_galerie {
        filter: none;
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        object-fit: contain;
        transition: none;
    }

    .box:hover {
        flex: initial;
    }

    .box:hover > #imagine_galerie {
        width: 100%;
        height: auto;
    }

    #imagine_galerie {
        border-radius: 30px;
    }

    #linkuri a{
        transition: 0.5s;
        margin: 0 5px;
    }
}
