/* GLOBAL */
body {
    background-color: #e9ecef;
    margin: 0;
    font-family: "Quicksand";
}

h1 {
    font-size: clamp(0.65rem, 15vw, 7rem);
    font-weight: 900;
    text-align: center;
    margin: 15px;
    text-shadow: 3px 3px 20px #00000091;
}

p {
    margin: 0;
    padding: 15px;
}

/* CUSTOM */
#navigare {
    background-color: #f8f9fa;
    display: flex;
    justify-content: right;
    padding: 10px;
    box-shadow: 0px 10px 25px 10px #007bff85;
}

#continut {
    font-size: clamp(1.5rem, 1.5vw, 5rem);
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    margin: 0 10vw;
    box-shadow: 9px 11px 23px 1px #0000004d;
}

#linkuri {
    display: flex;
    align-items: center;
}

#linkuri a {
    font-size: clamp(1rem, 1vw, 2rem);
    margin: 0 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.2s ease, font-size 0.2s ease;
}

#linkuri a:hover {
    background-color: #007bff4b;
    font-weight: 900;
    font-size: clamp(1.5rem, 1vw, 2rem);
}