/* GLOBAL */
body {
    background-color: #e9ecef;
    margin: 0;
    font-family: "Quicksand";
}
  
h1 {
    font-size: clamp(0.75rem, 15vw, 5rem);
    font-weight: 900;
    text-align: center;
    margin: 15px;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.48);
}
  
p {
    margin: 0;
    padding: 15px;
}
  
/* CUSTOM */
 #navigare {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 10px 25px 10px #007bff8c;
}
  
#continut {
    font-size: clamp(0.5rem, 5vw, 2rem);
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    margin: 0 10vw;
    box-shadow: 9px 11px 23px 1px #0000004d;
}
  
#linkuri {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#linkuri a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: larger;
}
  
#linkuri a:hover {
    background-color: #007bff34;
    font-weight: 900;
}